.rightnav-container {
    width: 25%;
    background-color: rgb(255, 255, 255, 0.3);
    min-height: 97vh;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(180,181,186,0.7);
-moz-box-shadow: 1px 1px 5px 0px rgba(180,181,186,0.7);
box-shadow: 1px 1px 5px 0px rgba(180,181,186,0.7);
    position: fixed;
    right: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #F9F8FF;
    border: 1px solid #d6d6d6;
}

.message p {
    color: #333;
    font-size: 12px;
}

small {
    color: #bbb;
    font-size: 10px;
}

.message button {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

.reminder {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F9F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.reminder p {
    font-size: 12px;
}

.pink {
    background-color: #FFC9C9;
}

.skysh-blue {
    background-color: rgb(5, 144, 190);
    color: #fff;
}

.greenish {
    background-color: #C9FFD8;
}

.flex-row-space {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.msg-nav {
    font-size: 12px;
    display: flex;
    gap: 10px;
}