.create-btn2 {
    padding: 8px 20px;
    background-color: rgb(2, 2, 36);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.create-btn4 {
    padding: 8px 20px;
    background-color: #807e7e;
    border: none;
    border-radius: 5px;
    color: #fff;
}