.sidenav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.6);
    height: 97vh;
    color: #333;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(180,181,186,0.7);
-moz-box-shadow: 1px 1px 5px 0px rgba(180,181,186,0.7);
box-shadow: 1px 1px 5px 0px rgba(180,181,186,0.7);
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidenav-container a {
    color: #979797;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    height: 85%;
}

.sidenav-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidenav-container hr {
    width: 120%;
    margin-left: -20px;
}

.prof-dat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sidenav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-size: 13px;
}

.sidenav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

p {
    font-size: 13px;
}

.sidenav-container a {
    color: #979797;
}

.desktop {
    display: none;
}


@media screen and (min-width: 768px) {
    .sidenav-container {
        width: 200px;
        /* min-width: 200px;
        max-width: 400px; */
    }
    .sidenav-data {
        justify-content: space-between;
        height: 100%;
    }
    .desktop {
        display: flex;
    }
}