.sidenav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    padding: 20px;
    background-color: #ffffff;
    height: 98vh;
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.sidenav-container a {
    color: #979797;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    height: 85%;
}

.sidenav-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidenav-container hr {
    width: 120%;
    margin-left: -15px;
}

.prof-dat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sidenav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}

.sidenav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidenav-container a {
    color: #000;
}

.desktop {
    display: none;
}


@media screen and (min-width: 768px) {
    .sidenav-container {
        width: 20%;
        min-width: 200px;
        max-width: 200px;
    }
    .sidenav-data {
        justify-content: space-between;
        height: 100%;
    }
    .desktop {
        display: flex;
    }
}