.classes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
    min-height: 100vh;
    padding: 10%;
}

.classes-container img {
    width: 200px;
    position: fixed;
    z-index: -1;
    right: 150px;
    top: 200px;
}

.classes-data {
    padding: 5%;
    background-color: #E0E9FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.classes {
    display: flex;
    gap: 15px;
}

.class {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #DFE7FF;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 180px;
    text-align: center;
    color: #4F4F4F;
}

.class a {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.create-btn {
    padding: 12px;
    background-color: #26439C;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.create-btn3 {
    padding: 12px;
    border: 1px dashed #2671B1;
    border-radius: 5px;
    background-color: #fff;
    color: #2671B1;
}

.mc-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    position: fixed;
}

/*  */



@media screen and (min-width: 768px) {
    .welcome-note {
        font-size: 80px;
        text-align: left;
        color:#4F4F4F;
    
    }
}