.gallery-details-modal {
    position: fixed;
    padding: 40px 10%;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(160, 168, 170, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    top: 0;
    left: 0;
  }
  
  .gallery-modal-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: auto;
}

  .modal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .form-group input, .form-group select, .form-group textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .c-btn {
    padding: 10px 20px;
    background-color: #0a1113;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .b-btn {
    padding: 10px 20px;
    background-color: #575858;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .close {
    padding: 6px;
    background-color: rgb(214, 9, 9);
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}