.mainpage-container {
    width: 100%;
    /* padding: 30px 5%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    min-height: 100vh;
}

.mainpage-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mainpage-data2 {
    width: 100%;
    display: flex;
    gap: 30px;
}

.notif-cont {
    display: flex;
    justify-content: flex-end;
}

.d-header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.d-header svg {
    width: 25px;
    height: 25px;
}

.d-header-data {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notif-icon {
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    color: #030f2e;
}

.d-profile {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px;
    background-color: #010f31;
    border-radius: 20px;
    color: #fff;
}

.d-welcome {
    width: 100%;
    padding: 20px;
    background-color: #020e2b;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 12px;
}

.welcome-analytics {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #fff;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 13px;
    flex-wrap: wrap;
    gap: 20px;
}

.analytics-data {
    display: flex;
    gap: 10px;
    align-items: center;
}

.analytics-dat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.dashboard-page-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 5%;
}

.d-first-sect {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.d-asset-overview, .fuel-spend, .d-second-sect {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    color: #020e2c;
    align-items: center;
    height: fit-content;
    /* max-height: 50px; */
}

.card-header button {
    background-color: #020e2d;
    color: #fff;
    padding: 9px 18px;
    border: none;
    border-radius: 10px;
}

.card-filter select {
    padding: 9px 40px 9px 9px;
    border-radius: 10px;
}

.card-analytics {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card-analytic {
    display: flex;
    flex-direction: column;
    padding: 30px 12px;
    border-radius: 10px;
    border: 1px solid #bbb;
}

.d-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-card {
    /* width: 180px; */
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-card2 {
    width: 180px;
    height: 70px;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.nav-card2 p {
    font-size: 13px;
}

.cloudy-blue {
    background-color: #D9E2FF;
    color: #1C1C1C;
}

.black {
    background-color: #070C1B;
    color: #fff;
}

.red {
    background-color: red;
    color: #fff;
}

.blue {
    background-color: #007AFF;
    color: #fff;
}

.navy-blue {
    background-color: #26439C;
    color: #fff;
}

.session {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cont a {
    text-decoration: underline;
}

.d-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
}

.action {
    display: flex;
    gap: 20px;
}

.rec {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    /* background-color: #fff; */
}

.rec p {
    font-size: 12px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.engage-hour {
    display: flex;
    gap: 15px;
}


@media screen and (min-width:768px) {
    .mainpage-container {
        align-items: flex-end;
    }
    .mainpage-data {
        width: 78%;
    }
    .dashboard-page-data {
        width: 69%;
    }
    .mainpage-data2 {
        width: 84%;
    }
    .d-first-sect {
        flex-direction: row;
    }
    .d-asset-overview {
        width: 49%;
    }
    .d-overview {
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile {
        display: none;
    }
}